/*Semantic tag styling */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Lato', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

input {
    font-size: 12px;
}

h1,
h2,
h3,
h4 {
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    color: #7d97ad;
    font-weight: bold;
}

h1 {
    font-size: 22px;
    text-align: center;
}

#header {
    top: 30px;
    width: 20%;
    margin-top: 10px;
    margin-bottom: 65px;
    top: 0;
    left: 0;
}

#search {
    width: 100%;
    display: inline-block;
    top: 47px;
    position: absolute;
}

#list li:hover {
    cursor: pointer;
    background: linear-gradient(to left, #f85032, #e73827);
    color: white;
}

aside {
    position: absolute;
    top: 160px;
    bottom: 0px;
    right: inherit;
    overflow: auto;
    width: 20%;
}

#filterBox {
    width: 20%;
    display: inline-block;
    height: 35px;
    margin: 0;
    border-radius: 5px;
    position: absolute;
    top: 72px;
}

#map {
    bottom: 0px;
    height: 100%;
    width: 78%;
    position: absolute;
    right: 0px;
}

.list-div {
    background: white;
    border: 1px solid #999;
    border-radius: 3px;
    height: 100%;
    line-height: 35px;
    padding: 10px 10px 30px 10px;
    text-align: left;
    width: 20%;
}

@media only screen and (max-width: 750px) {
    .container {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
    }

    #map {
        height: 46%;
        width: 100%;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }

    aside {
        position: absolute;
        top: 82px;
        width: 99%;
        height: 80px;
        overflow: auto;
    }

    #header,#filterBox {
        width: 99%;
        padding:5px;
        margin:0;
        /* top: 2px; */
    }

    h1 {
        font-size: 18px;
    }
}
